<!DOCTYPE html>
    <body>
        <form enctype='application/json' method = "post" action="/web/courses/">
            <label for="name">name:</label><br>
            <input type = "text" name='name' ><br>
            <label for="code">code:</label><br>
            <input type = "text" name='code' ><br>
            <label for="description">description:</label><br>
            <input type = "text" name='description' ><br>
            <input type = "submit" value="Submit" >
          </form>
    </body>
</html>